*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
.box-img-ipad-mini{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img-ipad-mini{
    width: 713px;
}
.main-content{
    width: 540px;
    position: absolute;
    top: 180px;





    margin: 20px 20px 0px 20px ;
    font-family: 'Poppins';
}
.lbl-subtotal{
    font-size: 1.7em;
    font-weight: 600; 
}
.box-proceder-pago{
    background-color: rgb(247, 231, 8);
    height: 80px;
    width: 100%;
    font-size: 1.6em;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}

.box-producto{
    display: grid;
    grid-template:  "imagen  informacion" / 
                     7fr     9fr  ;
    margin-top: 30px;
}
.box-img{
    grid-area: imagen;
}
.img-producto{
    width: 100%;
}
.box-informacion{
    grid-area: informacion;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.book-title{
    font-size: 1.8em;
}
.book-description{
    font-size: 1.6em;
    font-weight: 500;
}
.book-autor{
    padding-top: 40px;
    font-size: 1.4em;
}
.tipo-tapa{
    font-size: 1.4em;
    padding-top: 40px;
}
.txt-precio-unidad{
    font-size: 1.4em;
    padding-top: 40px;
}
.precio-unidad{
    font-size: 1.6em;
    font-weight: 700;
}


.box-plus-minus{
    display: flex;
    flex-direction: row;
    border-radius: 20px; 
    width: 240px; 
    font-size: 1.2em;
    margin-top: 20px;
}
.box-minus, .box-unidades, .box-plus{
    width: 80px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(48,48,48);
}
.box-minus, .box-plus{
    background-color: rgb(200, 200, 200);
}
.box-minus{
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.box-plus{
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}












/* poppins-100 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 100;
    src: url('../fonts/poppins-v20-latin-100.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* poppins-200 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 200;
    src: url('../fonts/poppins-v20-latin-200.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* poppins-300 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/poppins-v20-latin-300.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* poppins-regular - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/poppins-v20-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* poppins-500 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/poppins-v20-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* poppins-600 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/poppins-v20-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* poppins-700 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/poppins-v20-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* poppins-800 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    src: url('../fonts/poppins-v20-latin-800.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* poppins-900 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/poppins-v20-latin-900.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }