 
.box-colores {
    display: flex;
    flex-direction: row;
}

.box-color {
    width: 250px;
    height: 250px;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

span{
    color: white;
    font-size: 1.5em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1{
    font-size: 4em;
    font-weight: 700;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
h2{
    font-size: 2em;
    font-weight: 300;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.color-rojo{
    background-color:red ;
}

.color-negro{
    background-color: black;
}

.color-azul{
    background-color: blue;
}

.color-255-0-0{
    background-color: rgb(255, 0, 0);
}

.color-12-12-21{
    background-color: rgb(12, 12, 31);
}

.color-180-2-54{
    background-color: rgb(180, 2, 54);
}

.color-FAEB57{
    background-color:#FAEB57;
}

.color-FD143D{
    background-color:#FD143D;
}

.color-EF2FD6{
    background-color: #EF2FD6;
}