*{
    padding: 0;
    margin: 0;
    box-sizing:border-box;
    font-family: 'Poppins';
}
header{
    background-color: #fff159;
    height: 50px;
    width: 100%;
    display: grid;
    align-items: center;
    grid-template: "logo barra iconos"/
                     80px  1fr 80px ; 
}
.img-logo{
    grid-area: logo;
    width: 50px;
    margin-left: 10px;
}
.icono{
    color: black;
    font-size: 1.2em;
    margin: 0px 0px 7px 7px;
}
.barra{
    grid-area: barra;
    border: none;
    height: 30px;
}

.content-icons{
    grid-area: iconos;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: 5px;
}

.parrafo-js{
    background-color: aliceblue;
}
.box-producto{
    width: 100%;
    padding: 25px 0;
    display: grid;
    grid-template: "box-imagen  box-info-producto" auto/
                    7fr         10fr  ;

    border: 1px solid rgb(200, 200, 200,.5);
    
}
.box-imagen{
    grid-area: box-imagen; 
    display: flex;
    justify-content: center;
    align-items: center;
}
.box-info-producto{
    grid-area: box-info-producto;

}
.img-producto{
    width: 90%;
}



.marca-producto, .modelo-producto{

    line-height: 30px;
    font-size: 0.85em; 
    font-weight: 400;

    color: rgb(64, 64, 64);

}
.precio-producto{
    font-size: 1.2em;
    display: block;
    font-weight: 500;

}
.anyo-producto, .kilometraje, .ciudad{
    font-size: 0.8em;
    color: rgb(140, 140, 140);
}















/* poppins-300 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/poppins-v20-latin-300.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* poppins-regular - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/poppins-v20-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* poppins-600 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/poppins-v20-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }