h1{ 
    text-align: center;
}
table{
    border-collapse: collapse;
    font-size: 2.5em;
}
.table-box{
    display: flex;
    justify-content: center;
}
th, td{
    padding: 10px 15px;
}
.col-style{
    width: 150px;
}
.col-fam{
    background-color: rgb(red, green, blue);
    color: white;
    border: 0;
}

.img-check{
    display: block;
    margin: 0 auto;
}

.logo-equis {
    font-size: 1.6em;
    font-weight: 900;
    color: rgb(64, 64, 64);
    font-family: tahoma, Geneva, Tahoma, sans-serif;
    display: flex;
    justify-content: center;
    
}